html, body{
	max-width: 100%;
	overflow-x: hidden;
}

/*header*/
header {
	height: 100px;
	background-color: rgba(5, 5, 5, .7);
	border-bottom: solid 2px black;
}
header div {
	height: 50px;
	background-image: url("../assets/header.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
header div h1 {
	font-family: 'courgette', cursive;
	text-align: center;
	margin-top: 0px;
	padding-top: 7px;
	color: #222;
}
header ul {
	padding: 0;
	display: flex;
	width: 500px;
	margin: auto;
}
header ul li {
	list-style: none;
	width: 200px;
	flex: 1;
	display: inline-block;
	text-align: center;
}
header ul li h3 {
	margin-top: 14px;
}
header ul li h3 button {
	background-color: rgba(0,0,0,0.0);
	background-color: none;
	border: none;
	border-radius: 9px;
	padding: 2px 6px;
	font-weight: bold;
	color: white;
}

header ul li h3 button:hover, header ul li h3 button:focus {
	color: skyblue;
	cursor: pointer;
	text-decoration: none;
}
/*end of header*/

/*block 1*/
#block1 {
	position: relative;
	background-image: url("../assets/mainpic.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 90vh;
}
#textBox {
	margin-top: 25vh;
	color: #555;
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(5,5,5,.3);
	border: solid 2px black;
}
#textBox h2 {
	color: white;
	text-align: center;
}
.btn {
	border: 1px solid #2855bf;
	display: block;
	background-image: linear-gradient(to bottom right, #de4569, #2855bf);
	margin: auto;
	margin-top: 10vh;
	padding: 15px;
}
/*end of Block 1*/

/*devider*/
#devider {
	background-color: #222;
	padding: 10px;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}

#devider h1 {
	text-align: center;
	color: white;
}

.info {
	height: 320px;
	border: 1px solid black;
	border-radius: 15px;
	background-color: #262626;
	box-shadow: 2px 2px rgba(0, 199, 206, 0.2);
	margin-bottom: 10px;
}
.info h2, .info p {
	padding: 15px;
	color: white;
	text-align: center;
}
/*end of devider*/

/*Block 2*/
#block2 {
	background-image: url("../assets/pic2.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 70vh;
}
/*end of Block 2*/



/* MODALS!*/
.modals {
	display: none;
	position: fixed;
	background-color: rgba(3,3,3,.7);
	top: 0;
	left: 0;
	overflow: auto;
	z-index: 5;
}

.contents {
	background-color: white;
	margin: 15vh auto;
	padding: 20px;
	width: 70%;
	height: 70vh;
	animation-name: modalopen;
	animation-duration: 1s;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.9), 0 14px 40px 0 rgba(0,0,0,0.9);
}

.contents h1 {
	text-align: center;
}

#bioModal {
	width: 100vw;
	height: 100vh;
}

#pricingModal {
	width: 100vw;
	height: 100vh;
}

#bioContent {
}

.closeBtns {
	padding-right: 10px;
	padding-left: 10px;
	float: right;
	font-size: 30px;
}

.closeBtns:hover, .closeBtns:focus {
	cursor: pointer;
}


/*footer*/
footer {
	border-top: 4px solid black;
	background-color: #222;
}

#iconBox {
	margin: auto;
	width: 300px;
	text-align: center;
}

.icon {
	margin: 0 15px;
	background: linear-gradient(to bottom right, #de4569, #2855bf);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.footerBoxs {
	height: 230px;
}

#footerBox1 {
	border-right: 2px solid grey;
}

#footerBox3 {
	border-left: 2px solid grey;
}

footer div div * {
	color: white;
}
/*end of footer*/

/* keyframes */
@keyframes modalopen{
	from{opacity: 0}
	to{opacity: 1}
}